{% if user.is_authenticated %}

   <p> Logged In as {{ user.username }}</p>

   <p><a href="{% url 'createtodo' %}">Create</a></p>
   <p><a href="{% url 'currenttodos' %}">Current</a></p>
   <p><a href="{% url 'completetodos' %}">Complete</a></p>
   

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">logout</button>
</form>
{% else %}

<a href="{% url 'signup' %}">Signup</a>
<a href="{% url 'login' %}">Login</a>
{% endif %}

{% block content %}{% endblock %}